{% extends "network/layout.html" %}
{% load static %}
{% load humanize %}
{% load bootstrap_pagination %}

{% block body %}
    <div>
        <h1 style="text-align: center;">{{ profile_user.username }}</h1>
        {% if user != profile_user %}
            {% if follow_boolean %}
                <div style="text-align: center">
                    <button type="button" class="btn btn-danger" 
                    data-profile_id= "{{ profile_user.id }}" 
                    data-user_id="{{ user.id }}" 
                    id = "profile_unfollow">Unfollow</button>
                </div>
            {% else %}
                <div style="text-align: center">
                    <button type="button" class="btn btn-primary" 
                    data-profile_id= "{{ profile_user.id }}" 
                    data-user_id="{{ user.id }}" 
                    id = "profile_follow">Follow</button>
                </div>
            {% endif %}
        {% endif %}
        <div class="row">
            <div class="col" style="text-align: right;">
              Follows: {{ follows }}
            </div>
            <div class="col" style="text-align: left;">
              Followers: {{ followers }}
            </div>
          </div>
    </div>

    <hr>
    {% for post in page_obj %}
        <div class="card text-center">
            <div class="card-body">
                <div id="post-body">{{ post.body|safe }}</div>
                <h6 class="card-subtitle mb-2 text-muted">{{ post.post_time|naturaltime }}</h6>
                <a href="#" class="card-link">Like</a>
                <a href="#" class="card-link">Unlike</a>
            </div>
            {% if user == post.poster %}
            <button type="button" class="btn btn-secondary btn-sm" 
            id="post-edit-button" data-post_id="{{ post.pk }}"
            data-post_body = "{{ post.body|safe }}"
            style="position: absolute; right:10px; bottom:10px;">Edit</button>
            {% endif %}
        </div>
    {% endfor %}
    
    {% bootstrap_paginate page_obj range=3 show_prev_next="false" show_first_last="true" %}

{% endblock %}

{% block script %}
    <script src="{% static 'network/profile.js' %}"></script>
    <script src="{% static 'network/edit.js' %}"></script>
    <script src="{% static 'ckeditor4/ckeditor.js' %}"></script>
{% endblock %}